.box{
  height: 200px;
  width: 200px;
}

#box1{
  background-color: cadetblue;
  border: 10px solid black;
  padding: 20px;
}

#box2{
  background-color: gold;
  border:solid black;
  border-width: 20px 10px;
  margin-left: 260px;
}

#box3{
  background-color: indianred;
  border: 10px solid black;
  margin-left: 40px;
}

p{
  margin: 0;
}
